.linkCart {
    color:  var(--black)
}

.mainCart {
    display: grid;
    grid-template-columns: 40% 55%;
    min-height: 84.7vh;
    column-gap: 2rem;
    padding: 2rem;
}

.cartDeleteAll,
.cartResumeButtons {
    background-color: transparent;
    color: #000000;
    font-family: 'Antonio', sans-serif;
    font-size: 1.8rem;
    border: solid 2px #000000;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: .6rem;
    cursor: pointer;
    transition: all .3s;
    text-align: center;
}

.cartDeleteAll:hover {
    color: #fb6161;
    border: solid 2px #fb6161;
}

.cartResumeButtons:hover {
    background-color:  var(--black);
    color: var(--white);
}

.sectionCartItem {
    display: flex;
    flex-direction: column;
}

.cartResume {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: fit-content;
    row-gap: 3rem;
    padding: 4rem 2rem;
    border-radius: .6rem;
    box-shadow: 0px 5px 15px 0px rgba(74, 74, 74, 0.51);
}

.titleResume, h1 {
    font-size: 2.5rem;
}

.resume {
    font-size: 1.8rem;
    color: #000000d6;
}

.totalResume {
    font-size: 2.3rem;
}

.paymentResume {
    max-width: 75%;
}

.containerButtonsResume {
    width: 100%;
    display: flex;
    column-gap: 2rem;
}
.emptyCartContainer {
    height: 84.7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
    
}
.titleEmptyContainer {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.emptyCart {
    font-size: 20rem;
    color:  var(--black);
}
.emptyCartFace{
    font-size: 5rem;
}
button.swal2-confirm.swal2-styled.swal2-default-outline, 
button.swal2-cancel.swal2-styled.swal2-default-outline{
    font-size: 1.5em;
    box-shadow: none;
    font-weight: 400;
}
button.swal2-cancel.swal2-styled.swal2-default-outline{
    color: var(--black)
}
div#swal2-html-container{
    font-size: 1.6rem;
}
@media (max-width:860px ) {
    .mainCart{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}