p{
    color: #ffffff;
    font-size: 2rem;
}
.sectionDetail{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #262626;
}
.imgContainer{
    margin: 2rem auto;
    width: 50%;
    height: 50%;
}
.detailImg{
    width: 100%;
    object-fit: cover;  
    box-shadow: 7px 5px 14px -6px #ffffff84;
    border-radius: .6rem;
}
.detailContainer{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0000002f;
    row-gap: 2rem;
    margin: 2rem 2rem 2rem 0;
    padding: 3rem;
    border-radius: .6rem;
}
.detailCategory{
    font-size: 2rem;
    color: #ffffffd5;
    font-style: italic;  
}
.detailName{
    color: #ffffff;
    font-size: 2.5rem;
}
.detailDescription{
    font-size: 2rem;
    text-align: center;
}
.detailStock{
    margin: 0 auto;
}
.link-categoria,
.link-inicio{
    font-size: 1.8rem;
    transition: color .3s;
    margin-top: 5rem;
}
.link-categoria:hover,
.link-inicio:hover{
    color: #61dafb
}
@media (max-width: 1500px) {
    .sectionDetail{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .detailContainer{
        width: 100%;
        padding: 1rem;
    }
  }
