.itemImg{
    width: 80%;
}
.itemName{
    color: #ffffff;
    font-size: 3rem;
}
.itemCategory{
    font-size: 2rem;
    font-style: italic;
    color: #ffffffb8
}
.itemPrice{
    font-size: 2rem;
}
.itemStock{
    font-size: 2rem;
}
.itemLink{
    color: #ffffff;
    font-size: 1.8rem;
    background-color: transparent;
    border:none;
    cursor: pointer;
    transition: color 0.3s;

}
.itemLink:hover{
    color : #61dafb
}