.header{
    background-color: var(--black);
    padding: 2rem 0;
    position:sticky;
    top: 0;
    z-index: 100;
  }
  .header-nav{
    display: flex;
  }
  .nav-ul{
    display: flex;
    flex-basis: 100%;
    justify-content: space-evenly;
  }
  .ul-li{
    font-family: sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    transition: color .3s;
  }
  .ul-li:hover{
    color: var(--main-color)
  }
  .ul-img{
    width: 12rem;
  }