*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: #f1f1f1;
}
html{
  font-size: 62.5%;
}
a{
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}
p,a,h3,input, li{
  font-family: 'Montserrat', sans-serif;
}
h3{
  font-weight: 600;
}
h1,h2{
  font-family: 'Antonio', sans-serif; 
}



