*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html{
  font-size: 62.5%;
}
a{
  text-decoration: none;
  list-style: none;
}
p,a{
  color:#ffffff
}

body{
  background-color: #f8f8f8;
}
h1 {
  color:#131313;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;

}




